{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "plugins": [
        "react",
        "react-native"
    ],
    "extends": [
        "airbnb"
        // "eslint:recommended",
        // "plugin:react/recommended"
    ],
    "rules": {
        // overrides
        "jsx-a11y/no-hash-href": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}